.component-border{
    outline: 3px solid blue;
     border-radius: 5px;
     width: 90%;
     margin-left: 5%;
}

#profile-button {
    border: 3px solid blue;
    background: rgb(204, 237, 248);
    color: black;
    border-radius:  150px;
    width: 30%;
    height: 7vh;
    font-size: 20px;
    font-weight: bold;
    margin: 2cqh;
}
#profile-button:hover{
    outline: 5px solid lightblue;
    background-color: lightblue;
}


body {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 2cqh;
    
}