<nav class="header-border">
    <div class="header-text">Financial Dashboard Application</div>
    <div class="second-part-of-menu">    
        <div class="header-text dropdown-nav-item" (click)="transactionList()">Transactions</div>
        <div class="header-text dropdown-nav-item" (click)="analytics()">Analytics</div>
        <div class="header-text dropdown-nav-item" (click)="dashboard()">Dashboard</div>
        <div class="header-text" (click)="profile()">Profile</div>
        <div class="header-text" (click)="logout()">Logout</div>
    </div>
</nav>