:host-context {
    display: block;
    border-radius: 15px;
    background-color: white;
}

.button-row{
    max-width: 600px;
    display: flex;
    flex-direction: row;
    align-items: space-between;
    justify-content: space-between;
}

.button-row-second-part{
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    justify-content: flex-start;
}

.button-accept{
    background-color: rgb(164, 235, 253);
    border-radius: 15px;
    margin: 8px 8px 0px 8px;
}

.button-delete{
    background-color: rgb(248, 51, 25);
    border-radius: 15px;
    margin: 8px 8px 8px 0;
}

.button-cancel{
    border-radius: 15px;
    margin: 8px 8px 8px 0;
}

.input-field{
    margin: 10px 10px 10px 10px;
    background-color: white;
}

.error-field{
    margin: -6% 10px 10px 6%;
    color: red;
}
.error{
    color: red;
}

::ng-deep .mat-datepicker-content {
  background-color: white !important;
}

::ng-deep .mat-mdc-select-panel{
    background-color: white !important;
}
::ng-deep .snackbar {
  background-color: blanchedalmond;
}