
    <form [formGroup]="changePasswordForm" class="input-form"(ngSubmit)="changePassword()">
        <div class="inputs">    
            <mat-form-field>
                <mat-label class="input-field">Password:</mat-label>
                <input matInput type=password formControlName="password"/>
                @if (!isValid) {
                    <mat-error class="error">{{errorPassword}}</mat-error>
                }
            </mat-form-field>
            <mat-form-field>
                <mat-label class="input-field">Repeat password:</mat-label>
                <input matInput type=password formControlName="repeatPassword"/>
            </mat-form-field>
                @if (!isValid) {
                    <mat-error class="second-error">{{errorRepeatPassword}}</mat-error>
                }
        </div>
            <button matButton="outlined" class="button-accept" type="submit">Change password</button>
            <button matButton="outlined" class="button-cancel" type="button" (click)="closeDialogue('')">Cancel</button>
        </form>
