:host-context{
    display: block;
    border-radius: 15px;
    background-color: white;
}

.error{
    color: red;
}

.button-accept{
    background-color: rgb(164, 235, 253);
    border-radius: 15px;
    margin: 8px 8px 8px 8px;
    min-width: 150px;
}

.button-cancel{
    border-radius: 15px;
    margin: 8px 8px 8px 0;
    min-width: 150px;
}

.inputs{
    margin: 5%;
    width: 90%;
    display: flex;
    flex-direction: column;
}

.second-error{
    color: red;
    margin-left: 5%;
    margin-top: -6%;
}