

.dashboard{
    width: 80%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.current-amount{
    background-color: rgb(69, 157, 234);
    font-weight: bold;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 2cqh;
    margin-bottom: 2cqh;
    width: 80cqw;
    height: 10cqh;
    font-size: 40px;
    border-radius: 15px;
}
#new-transaction-button{
    background-color: rgb(4, 173, 117);
    color: black;
    font-weight: bold;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 2cqh;
    margin-bottom: 2cqh;
    width: 80cqw;
    height: 10cqh;
    font-size: 40px;
    border-radius: 15px;
}

.balance{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2cqw;
    
}
.balance-value{
    
    background-color: rgb(69, 157, 234);
    height: 10cqh;
    width: 35cqw;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    font-size: 25px;
}
.transaction-list{
    background-color: rgb(4, 173, 117);
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}

::ng-deep .snackbar {
  background-color: rgb(73, 201, 61);
}